<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full h-full bg-zinc-900 p-10 text-white">
        <!-- Nav Bar -->
        <div class="nav px-6 py-4 bg-zinc-800 w-full rounded-xl">
            <a href="/" class="text-zinc-600 mr-4">Home</a>
            <a href="/read" class="text-zinc-600">Read</a>
        </div>
    </div>

    <script src="../javascripts/script.js"></script>
</body>
</html>